.container {
    margin-top: 20px;
}

#demo-description {
    width: 600px;
    margin: 0 auto 20px;
}

.input-lg {
    height: 45px;
}


#results {
    padding: 0;
    margin: 10px auto;
    font-size: 12px;
}

#results h4 {
    margin: 0 0 10px;
}

#results h4 span {
    vertical-align: middle;

}

#results h4 span .waiting{
    color: blue;
    vertical-align: middle;
}

#results h4 span .processed{
    color: green;
    vertical-align: middle;
}

#results h4 span .canceled{
    color: red;
    vertical-align: middle;
}

#results h4 .label, #results h4 .badge {
    font-size: 10px;
    margin-left: 3px;
}

#results>li {
    padding: 10px;
    font-family: Helvetica;
    position: relative;
    overflow: hidden;
}

#results>li ul {
    margin-bottom: 10px;
    padding-left: 20px;
}

#results .table {
    border-collapse:collapse;
}

#results .table tr:hover {
    background-color: #f5f5f5
}

#results .table th {

}

#results .table td {
    white-space:pre-wrap;
    word-wrap: normal;
}

#footer {
    color: antiquewhite;
    position:fixed;
    bottom:0;
    height:20px;   /* Height of the footer */
    z-index: -1;
}
pre {
    font-family: Arial, Helvetica, sans-serif;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-break: normal;
}
